.page-note .page-header{
  height: 55px;
  padding: 0 30px;
  background: #eee;
  border-bottom: 1px solid #ddd;
}
.page-note .page-header .btn{
  padding: 10px;
}
.page-note .page-body{
  display: flex;
  height: calc(100% - 55px);
}
.page-note .note-list {
  width: 300px;
  border-right: 1px solid #ddd;
}
.page-note .note-edit{
  flex: 1 1 100%;
}

.note-edit .form-input {
  width: 100%;
  padding: 30px;
  border: none;
  outline: none;
  height: 60px;
  border-bottom: 1px solid #ddd;
  font-size: 20px;
}
.note-edit .form-area{
  width: 100%;
  background: #fff;
  border: none;
  padding: 30px;
  min-height: 500px;
  height: calc(100% - 60px);
  outline: none;
  box-sizing: border-box;
  font-size: 20px;
}


.note-list {
  font-size: 16px;
}
.note-list .item {
  padding: 15px 20px;
  cursor: pointer;
}
.note-list .title {
  font-size: 16px;
  font-weight: bold;
}
.note-list .content {
  padding: 5px 0;
}
.note-list .date {
  font-size: 14px;
  color: #666;
}

.note-detail .title {
  margin-bottom: 20px;
}
.note-detail .content {
  font-size: 16px;
}
