.note-list .title {
  margin-bottom: 10px;
}

.note-detail .title {
  margin-bottom: 20px;
}
.note-detail .content {
  font-size: 16px;
}

.note-edit {
  font-size: 16px;
}
.note-edit input, .note-edit textarea{
  width: 100%;
  padding: 8px;
  outline:none;
  font-size: 14px;
  resize: vertical;
}
.note-edit .form-area {
  height: calc(100% - 50px);
}
.note-edit .btn {
  width: 100%;
  padding: 10px 0;
  height: 40px;
}